@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kty7k3');
  src:  url('..fonts/icomoon.eot?kty7k3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kty7k3') format('truetype'),
    url('..fonts/icomoon.woff?kty7k3') format('woff'),
    url('..fonts/icomoon.svg?kty7k3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-computer:before {
  content: "\e900";
}
.icon-facebook-letter-logo:before {
  content: "\e901";
}
.icon-google-plus-logo:before {
  content: "\e902";
}
.icon-linked-in-logo-of-two-letters:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-phone-call:before {
  content: "\e905";
}
.icon-shapes:before {
  content: "\e906";
}
.icon-technology:before {
  content: "\e907";
}
.icon-technology-1:before {
  content: "\e908";
}
.icon-twitter-black-shape:before {
  content: "\e909";
}

